<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/fragments::commonHead(~{::title},_)">
    <!--/*@thymesVar id="website" type="hellgate.api.config.WebsiteProperties"*/-->
    <title th:text="|#{login.title} - ${website.title}|"></title>
</head>
<body>
<div>
    <p>
    <div th:replace="components/fragments::sessionException"></div>
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <p style="color: green" th:unless="${#strings.isEmpty(message)}" th:text="#{${message}}"></p>
    <span style="color: red" th:if="${param.logout}" th:text="#{login.alert.logout}"></span>
    <span style="color: red" th:if="${param.expired}" th:text="#{login.alert.expired}"></span>
    <!--/*@thymesVar id="accountForm" type="hellgate.common.account.AccountForm"*/-->
    <form method="post" action="/login" th:action="@{/login}" th:object="${accountForm}">
        <span th:text="#{login.input.username}"></span>
        <br>
        <input type="text" name="username" maxlength="15" th:value="*{username}" required autofocus>
        <br>
        <span th:text="#{login.input.password}"></span>
        <br>
        <input type="password" name="password" maxlength="15" th:value="*{password}" required>
        <br>
        <input type="submit" th:value="#{login.submit}"
               style="width:60px; display:block; text-decoration:none;
               text-align:center; line-height:24px; color:#FFF;
               background-color:#3C6; border-radius:2px;-moz-border-radius:2px;
               -webkit-border-radius:2px; font-size:16px;"/>
    </form>
    <br/>
    <span th:text="#{login.new-user}"></span><a href='#' th:href="@{/register}" th:text="#{login.click.register}"></a>
    <br>
    <a href="javascript:window.history.back()" th:text="#{login.back} "></a>
    <a href='#' th:href="@{/}" th:text="#{login.home}"></a>
    </p>
</div>
</body>
</html>
