<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/fragments::commonHead(~{::title},_)">
    <!--/*@thymesVar id="website" type="hellgate.api.config.WebsiteProperties"*/-->
    <title th:text="|#{error.label} - ${website.title}|"></title>
</head>
<body>
<div>
    <p th:text="#{error.tips}"></p>
    <span th:text="${#dates.format(#dates.createNow(), 'MM-dd HH:ss')}"></span><br>
    <a href="javascript:location.reload();" th:text="#{refresh.label}"></a><br>
    <!--suppress ThymeleafVariablesResolveInspection -->
    <p th:unless="${#strings.isEmpty(debug)}">[[${trace}]]</p>
</div>
</body>
</html>