<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="components/header::simple(~{::title},_)">
    <!--/*@thymesVar id="website" type="hellgate.config.WebsiteProperties"*/-->
    <title th:text="|#{refresh.label} - ${website.title}|"></title>
</head>

<body>
<br>
<p th:text="#{refresh.tips}"></p>
<span th:text="${#dates.format(#dates.createNow(), 'MM-dd HH:ss')}"></span><br>
<a href="javascript:location.reload();" th:text="#{refresh.label}"></a><br>
</body>
</html>