<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/fragments::commonHead(~{::title},_)">
    <!--/*@thymesVar id="website" type="hellgate.hub.config.WebsiteProperties"*/-->
    <title th:text="|#{error-500.label} - ${website.title}|"></title>
</head>
<body>
<div>
    <p th:text="#{error-500.tips}"></p>
    <div th:replace="components/fragments::refresh"></div>
    <!--suppress ThymeleafVariablesResolveInspection -->
    <div th:unless="${#strings.isEmpty(debug)}">
        <h3 style="color: red">[[${status}]] - [[${error}]]</h3>
        <!--/*@thymesVar id="path" type="java.lang.String"*/-->
        <!--/*@thymesVar id="timestamp" type="java.lang.String"*/-->
        <p th:text="|${path} -- ${timestamp}|"></p>
        <!--/*@thymesVar id="message" type="String"*/-->
        <p th:text="${message}"></p>
        <!--/*@thymesVar id="trace" type="java.lang.String"*/-->
        <p th:unless="${#strings.isEmpty(trace)}" th:text="${trace}"></p>
    </div>
</div>
</body>
</html>