<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
这里是警告提示框的片段。
通过 <div th:replace="components/alert::info"></div> 方式使用相应的提示框。
在组件层面，不必进行如 #messages.msg(key) 的国际化操作，应将此操作转移到实际页面。
-->

<div class="alert alert-info alert-dismissible fade show mt-3 mb-3" role="alert" th:fragment="info()"
     th:if="${!#strings.isEmpty(alert)}">
    <!--/*@thymesVar id="alert" type="java.lang.String"*/-->
    <strong th:text="${alert}">提示信息</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-success alert-dismissible fade show mt-3 mb-3" role="alert" th:fragment="success()"
     th:if="${!#strings.isEmpty(alert)}">
    <!--/*@thymesVar id="alert" type="java.lang.String"*/-->
    <strong th:text="${alert}">成功信息</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-warning alert-dismissible fade show mt-3 mb-3" role="alert" th:fragment="warning()"
     th:if="${!#strings.isEmpty(alert)}">
    <!--/*@thymesVar id="alert" type="java.lang.String"*/-->
    <strong th:text="${alert}">警告信息</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-danger alert-dismissible fade show mt-3 mb-3" role="alert" th:fragment="danger()"
     th:if="${!#strings.isEmpty(alert)}">
    <!--/*@thymesVar id="alert" type="java.lang.String"*/-->
    <strong th:text="${alert}">错误信息</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

</html>