<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--
卡片
使用方式：
<div th:replace="components/card::content(~{::header}, ~{::body})"></div>
更好的方式：
将 card 布局添加到 live template 中，比 fragment 方式更舒服。
模板内容：
<div class="card mx-3 w-100">
    <div class="card-header">
        <i class="fas fa-fw $CARD_TITLE_ICON$"></i>
        $CARD_TITLE$
    </div>
    <div class="card-body">
        $CARD_CONTENT$
    </div>
</div>
-->

<div class="card mx-3 w-100" th:fragment="content(header,body)">
    <div th:replace="${header}"></div>
    <div th:replace="${body}"></div>
</div>

</html>