<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<!--
登录页面--会话消息

使用方式：
<div th:replace="components/session::error"></div>
<div th:replace="components/session::success"></div>

小技巧：
可以使用 Code >> save as live template 保存到 IDEA 模板，命名为 th-session 快捷输入，可以极大提升效率。
-->

<div th:if="${param.error} and ${#session} and ${session.SPRING_SECURITY_LAST_EXCEPTION}" th:fragment="error">
    <span style="color: red" th:unless="${#strings.isEmpty(session.SPRING_SECURITY_LAST_EXCEPTION.message)}"
       th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
</div>

</html>