<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/fragments::commonHead(~{::title},_)">
    <!--/*@thymesVar id="website" type="hellgate.hub.config.WebsiteProperties"*/-->
    <title th:text="|#{register.help} - ${website.title}|"></title>
</head>
<body>
<div>
    <span th:text="#{register.help.title}"></span>
    <span th:text="#{register.help.head}"></span>
    <p>
        <span th:text="#{register.help.body1}"></span><br>
        <span th:text="#{register.help.body2}"></span><br>
        <span th:text="#{register.help.body3}"></span><br>
    </p>
    <a href="#" th:href="@{/register}" th:text="#{register.help.back.register}"></a><br>
    <div th:replace="components/fragments::refresh"></div>
</div>
</body>
</html>