<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/header::style(~{::title},~{::link})">
    <!--/*@thymesVar id="website" type="hellgate.config.WebsiteProperties"*/-->
    <title th:text="|#{error.title} - ${website.title}|">Title</title>
    <link href="/webjars/bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid">
    <h3 th:text="#{error-403.head}">您的权限不够访问此页面</h3>
    <p class="text-danger">[[${status}]] - [[${error}]]</p>
    <!--/*@thymesVar id="timestamp" type="String"*/-->
    <p class="text-info" th:text="|#{error.timestamp} - ${timestamp}|">时间戳</p>
    <!--/*@thymesVar id="message" type="String"*/-->
    <p th:text="|#{error-403.message.prefix}${message}|">请反馈：</p>
    <p class="lead" th:text="#{error.message.lead.label}">您可以：</p>
    <a href="javascript:history.back()" th:text="#{error.message.lead.back}">返回上一页</a>
    <p th:text="#{error.message.lead.else}">，或者</p>
    <a href="#" th:href="@{/}" th:text="#{error.message.lead.back.home}">回到主页。</a>
    <footer th:replace="components/footer::copyRight"></footer>
</div>
</body>
</html>