<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/header::simple(~{::title},~{::link})">
    <!--/*@thymesVar id="website" type="hellgate.config.WebsiteProperties"*/-->
    <title th:text="${website.title}"></title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <h3 th:text="#{page.error404.head}"></h3>
    <p class="text-danger">[[${status}]] - [[${error}]]</p>
    <!--/*@thymesVar id="timestamp" type="String"*/-->
    <p class="text-info" th:text="|#{page.error.timestamp} - ${timestamp}|"></p>
    <!--/*@thymesVar id="message" type="String"*/-->
    <p th:text="|#{page.error404.message.prefix}${message}|"></p>
    <p class="lead" th:text="#{page.error.message.lead.label}"></p>
    <a href="javascript:history.back()" th:text="#{page.error.message.lead.back}"></a>
    <p th:text="#{page.error.message.lead.else}"></p>
    <a href="#" th:href="@{/}" th:text="#{page.error.message.lead.back.home}"></a>
    <footer th:replace="components/footer::copyRight"></footer>
</div>
</body>
</html>