<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/header::style(~{::title},_)">
    <!--/*@thymesVar id="website" type="hellgate.config.WebsiteProperties"*/-->
    <title th:text="|#{error.title} - ${website.title}|"></title>
</head>
<body>
<div>
    <h3 th:text="#{error-404.head}"></h3>
    <p style="color: red">[[${status}]] - [[${error}]]</p>
    <!--/*@thymesVar id="timestamp" type="String"*/-->
    <p style="color: green" th:text="|#{error.timestamp} - ${#dates.format(timestamp, 'yyyy-MM-dd HH:mm:ss')}|"></p>
    <!--/*@thymesVar id="debug" type="java.lang.Boolean"*/-->
    <p th:if="${debug}">
        <span th:text="#{error-404.message.prefix}"></span>
        <!--/*@thymesVar id="message" type="java.lang.String"*/-->
        <code th:text="${message}"></code>
    </p>
    <span th:text="#{error.message.lead.label}"></span>
    <a href="javascript:history.back()" th:text="#{error.message.lead.back}"></a>
    <span th:text="#{error.message.lead.else}"></span>
    <a href="/" th:href="@{/}" th:text="#{error.message.lead.back.home}"></a>
    <br>
</div>
</body>
</html>