<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/header::style(~{::title}, _)">
    <!--/*@thymesVar id="website" type="hellgate.config.WebsiteProperties"*/-->
    <title th:text="|#{login.title} - ${website.title}|"></title>
</head>
<body>
<div>
    <!--/*@thymesVar id="alert" type="java.lang.String"*/-->
    <p style="color: green" th:unless="${#strings.isEmpty(alert)}" th:text="#{${alert}}"></p>
    <div th:if="${param.error} and ${#session} and ${session.SPRING_SECURITY_LAST_EXCEPTION}">
        <p style="color: red" th:unless="${#strings.isEmpty(session.SPRING_SECURITY_LAST_EXCEPTION.message)}"
           th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></p>
    </div>
    <!--/*@thymesVar id="accountForm" type="hellgate.controller.account.AccountForm"*/-->
    <form method="post" action="/login" th:action="@{/login}" th:object="${accountForm}">
        [[#{login.input.username}]]<br>
        <input type="text" name="username" maxlength="15" th:value="*{username}" required autofocus>
        <br>
        [[#{login.input.password}]]<br>
        <input type="password" name="password" maxlength="15" th:value="*{password}" required>
        <br>
        <input type="submit" th:value="#{login.submit}"
               style="width:60px; display:block; text-decoration:none;
               text-align:center; line-height:24px; color:#FFF;
               background-color:#3C6; border-radius:2px;-moz-border-radius:2px;
               -webkit-border-radius:2px; font-size:16px;"/>
    </form>
    <br/>
    [[#{login.new-user}]]<a href='#' th:href="@{/register}" th:text="#{login.click.register}"></a>
    <br>
    <a href="javascript:window.history.back()" th:text="#{login.back} "></a>
    <a href='#' th:href="@{/}" th:text="#{login.home}"></a>
</div>
</body>
</html>
