<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/header::style(~{::title},_)">
    <!--/*@thymesVar id="website" type="hellgate.config.WebsiteProperties"*/-->
    <title th:text="|#{register.help} - ${website.title}|">注册帮助</title>
</head>
<body>
<span th:text="#{register.help.title}">注册帮助：</span><br>
<span th:text="#{register.help.head}"></span>
<p>
    <span th:text="#{register.help.body1}"></span><br>
    <span th:text="#{register.help.body2}"></span><br>
    <span th:text="#{register.help.body3}"></span><br>
</p>
<a href="/register" th:href="@{/register}" th:text="#{register.help.back.register}">返回注册页面</a><br>
<span th:text="${#dates.format(#dates.createNow(), 'MM-dd HH:ss')}"></span><br>
<a href="javascript:location.reload();" th:text="#{register.help.refresh}">刷新</a><br>
</body>
</html>