<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/header::simple(~{::title},~{::link})">
    <!--/*@thymesVar id="website" type="hellgate.config.WebsiteProperties"*/-->
    <title th:text="${website.title}"></title>
    <link th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>
<div class="home-title-layout">
    <!--/*@thymesVar id="website" type="hellgate.config.WebsiteProperties"*/-->
    <span class="home-title-content" th:text="${website.title}"></span>
</div>
<a href="#" th:href="@{/login}" class="home-login" th:text="#{page.home.game.login}"></a>
<div class="home-tips-layout">
    <span class="home-tips-content"
          th:text="#{page.home.game.tips}"></span>
    <footer th:replace="components/footer::copyRight"></footer>
</div>
<div class="backstretch home-background">
    <img src="#" th:src="@{/images/dyzm.jpg}" class="home-background-image" alt="" th:alt="#{page.home.backstretch}">
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-backstretch/jquery.backstretch.min.js}"></script>
<script th:src="@{/js/home.js}"></script>
</body>

</html>
