<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head th:replace="components/header::login(#{page.login.title})">
    <title></title>
</head>

<body>
<div class="container">
    <div class="card card-login mx-auto mt-4">
        <div class="card-header text-center h3">[[${website.title}]]</div>
        <div class="card-body">
            <!--/*@thymesVar id="alert" type="java.lang.String"*/-->
            <div th:replace="components/alert::success"></div>
            <!--suppress ThymeleafVariablesResolveInspection -->
            <p class="alert alert-danger text-center my-1 py-1"
               th:if="${param.error} and ${!#strings.isEmpty(message)}">[[${message}]]</p>
            <p class="alert alert-success text-center my-1 py-1" th:if="${param.logout}">您已退出登录！</p>
            <!--/*@thymesVar id="accountForm" type="com.github.mrzhqiang.hellgate.account.AccountForm"*/-->
            <form class="form-login" method="post" th:action="@{/login}" th:object="${accountForm}">
                <label for="inputUsername" class="sr-only">账号</label>
                <input id="inputUsername" class="form-control my-3" type="text" maxlength="15"
                       th:value="*{username}" name="username" placeholder="账号"
                       th:errorclass="is-invalid" required autofocus>
                <label for="inputPassword" class="sr-only">密码</label>
                <input id="inputPassword" class="form-control my-3" type="password" maxlength="15"
                       th:value="*{password}" name="password" placeholder="密码"
                       th:errorclass="is-invalid" required>
                <!--/*@thymesVar id="website" type="com.github.mrzhqiang.hellgate.config.WebsiteProperties"*/-->
                <div class="form-check checkbox my-3" th:if="${website!=null && website.rememberMe}">
                    <input id="rememberMe" type="checkbox" class="form-check-input" value="remember-me">
                    <label class="form-check-label user-select-none" for="rememberMe">记住密码</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block my-4" type="submit">登录</button>
                新用户请<a th:href="@{/register}">点此注册</a>
                <br>
                <a th:href="@{/}">返回首页</a>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.slim.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>
