<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="components/header::login(~{::title})">
    <!--/*@thymesVar id="website" type="com.github.mrzhqiang.hellgate.website.WebsiteProperties"*/-->
    <title th:text="|注册 - ${website.title}|"></title>
</head>

<body>
<div class="container">
    <div class="card card-login mx-auto my-4">
        <div class="card-header text-center h3">[[${website.title}]]</div>
        <div class="card-body">
            <!--suppress ThymeleafVariablesResolveInspection -->
            <p class="alert alert-danger text-center my-1 py-1"
               th:if="${param.error} and ${!#strings.isEmpty(message)}">[[${message}]]</p>
            <!--/*@thymesVar id="accountForm" type="com.github.mrzhqiang.hellgate.account.AccountForm"*/-->
            <form class="form-login" method="post" th:action="@{/register}" th:object="${accountForm}">
                <label for="inputUsername" class="sr-only">账号</label>
                <input id="inputUsername" class="form-control" type="text" maxlength="15"
                       th:value="*{username}" name="username" placeholder="账号"
                       th:errorclass="is-invalid" aria-describedby="usernameHelpBlock" required autofocus>
                <small id="usernameHelpBlock" class="form-text text-muted">4-15 位长度的字母和数字</small>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                <label for="inputPassword" class="sr-only">密码</label>
                <input id="inputPassword" class="form-control my-2" type="password" maxlength="15"
                       th:value="*{password}" name="password" placeholder="密码"
                       th:errorclass="is-invalid" aria-describedby="passwordHelpBlock" required>
                <small id="passwordHelpBlock" class="form-text text-muted">6-15 位长度的字母和数字</small>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                <!--/*@thymesVar id="kaptcha" type="com.github.mrzhqiang.kaptcha.autoconfigure.KaptchaProperties"*/-->
                <div class="row my-3" th:if="${kaptcha!=null && kaptcha.enabled}">
                    <div class="col-6">
                        <label for="inputVerifyCode" class="sr-only">验证码</label>
                        <input id="inputVerifyCode" class="form-control" type="text" maxlength="4"
                               th:name="${kaptcha.parameter}" placeholder="请输入验证码" required>
                    </div>
                    <div class="col-6">
                        <img alt="单击图片刷新！" class="pointer w-100 h-100"
                             th:src="@{${kaptcha.path}}" src="#" th:data-path="${kaptcha.path}"
                             onclick="this.src=this.getAttribute('data-path')+'?d='+new Date()*1">
                    </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block my-4" type="submit">注册</button>
                兰达尔会员直接由此<a th:href="@{/login}">登录>></a>
                <br/>
                为保证看到验证码，请打开浏览器图片功能，如果您是在使用第三方浏览器，请关闭二次连接设置，以保证不会重复注册！
                <br/>
                <a th:href="@{/register/help}">注册帮助</a>
                <br/>
                <span th:text="${#dates.format(#dates.createNow(), 'MM-dd HH:ss')}"></span>
                <br/>
                <a href="javascript:location.reload();">刷新</a>
                <br/>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/dist/jquery.slim.min.js}"></script>
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
</body>

</html>
