<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" th:replace="layout::admin(~{::#wrapper})">
<div id="wrapper">
    <!--/*@thymesVar id="index" type=""*/-->
    <div th:replace="components/sidebar::admin(1)"></div>
    <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin" th:href="@{/admin}">主页</a></li>
                <li class="breadcrumb-item"><a href="/admin" th:href="@{/domains}">应用</a></li>
                <li class="breadcrumb-item active">编辑</li>
            </ol>
            <div th:replace="components/card::content(~{::#card-header},~{::#card-body})">
                <div class="card-header" id="card-header">
                    <i class="fas fa-fw fa-mobile-alt"></i>
                    应用：[[${id}]]
                </div>
                <div class="card-body" id="card-body">
                    <!--/*@thymesVar id="alertMessage" type=""*/-->
                    <div th:replace="components/alerts::danger"></div>
                    <!--/*@thymesVar id="appForm" type="com.xiaolou.center.model.form.AppForm"*/-->
                    <form action="#" th:action="@{|/app/${id}|}" th:object="${appForm}" method="post">
                        <input type="hidden" name="_method" value="put"/>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="inputName">名称(AppKey)</label>
                                <input type="text" class="form-control" id="inputName"
                                       th:field="*{name}"
                                       th:class="${#fields.hasErrors('name')}?'form-control is-invalid':'form-control'"
                                       aria-describedby="nameHelp" required autofocus>
                                <small id="nameHelp" class="form-text text-muted">例如：mengmeng-product 或 tangmeiren-test，必须保证唯一。</small>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3 mb-3">
                                <label for="inputJPushAppKey">极光推送 AppKey</label>
                                <input type="text" class="form-control" id="inputJPushAppKey"
                                       th:field="*{jpushAppKey}"
                                       th:class="${#fields.hasErrors('jpushAppKey')}?'form-control is-invalid':'form-control'"
                                       aria-describedby="jpushAppKeyHelp" required>
                                <small id="jpushAppKeyHelp" class="form-text text-muted">JPush 注册包名对应的 Master Secret。</small>
                                <!-- todo link jpush control url -->
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('jpushAppKey')}" th:errors="*{jpushAppKey}">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="inputJPushChannel">极光推送 Channel</label>
                                <input type="text" class="form-control" id="inputJPushChannel"
                                       th:field="*{jpushChannel}"
                                       th:class="${#fields.hasErrors('jpushChannel')}?'form-control is-invalid':'form-control'"
                                       aria-describedby="jpushChannelHelper" required>
                                <small id="jpushChannelHelper" class="form-text text-muted">不需要改动，使用默认值即可。</small>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('jpushChannel')}" th:errors="*{jpushChannel}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3 mb-3">
                                <label for="inputQqAppId">QQ AppId</label>
                                <input type="text" class="form-control" id="inputQqAppId"
                                       th:field="*{qqAppId}"
                                       th:class="${#fields.hasErrors('qqAppId')}?'form-control is-invalid':'form-control'"
                                       aria-describedby="qqAppIdHelp" required>
                                <small id="qqAppIdHelp" class="form-text text-muted">QQ 授权登录的 AppId（目前用不上）。</small>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('qqAppId')}" th:errors="*{qqAppId}">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="inputSocketIp">套接字地址</label>
                                <input type="text" class="form-control" id="inputSocketIp"
                                       th:field="*{socketIp}"
                                       th:class="${#fields.hasErrors('socketIp')}?'form-control is-invalid':'form-control'"
                                       aria-describedby="socketIpHelper" required>
                                <small id="socketIpHelper" class="form-text text-muted">涉及视频聊天和在线状态，必须填写正确。</small>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('socketIp')}" th:errors="*{socketIp}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3 mb-3">
                                <label for="inputTcAppId">腾讯云 AppId</label>
                                <input type="text" class="form-control" id="inputTcAppId"
                                       th:field="*{tcAppId}"
                                       th:class="${#fields.hasErrors('tcAppId')}?'form-control is-invalid':'form-control'"
                                       aria-describedby="tcAppIdHelp" required>
                                <small id="tcAppIdHelp" class="form-text text-muted">AppId，一般不改动，使用默认值即可。</small>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('tcAppId')}" th:errors="*{tcAppId}">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="inputTcBucket">腾讯云 Bucket</label>
                                <input type="text" class="form-control" id="inputTcBucket"
                                       th:field="*{tcBucket}"
                                       th:class="${#fields.hasErrors('tcBucket')}?'form-control is-invalid':'form-control'"
                                       aria-describedby="tcBucketHelp" required>
                                <small id="tcBucketHelp" class="form-text text-muted">存储桶，每个应用需对应唯一的名称。</small>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('tcBucket')}" th:errors="*{tcBucket}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-2 mb-3">
                                <label for="inputTcRegion">腾讯云 Region</label>
                                <input type="text" class="form-control" id="inputTcRegion"
                                       th:field="*{tcRegion}"
                                       th:class="${#fields.hasErrors('tcRegion')}?'form-control is-invalid':'form-control'"
                                       aria-describedby="tcRegionHelp" required>
                                <small id="tcRegionHelp" class="form-text text-muted">地域名称，一般不改动，使用默认值即可。</small>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('tcRegion')}" th:errors="*{tcRegion}">
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="inputTcSecretId">腾讯云 SecretId</label>
                                <input type="text" class="form-control" id="inputTcSecretId"
                                       th:field="*{tcSecretId}"
                                       th:class="${#fields.hasErrors('tcSecretId')}?'form-control is-invalid':'form-control'"
                                       aria-describedby="tcSecretIdHelp" required>
                                <small id="tcSecretIdHelp" class="form-text text-muted">一般不改动，使用默认值即可。</small>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('tcSecretId')}" th:errors="*{tcSecretId}">
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="inputTcSecretKey">腾讯云 SecretKey</label>
                                <input type="text" class="form-control" id="inputTcSecretKey"
                                       th:field="*{tcSecretKey}"
                                       th:class="${#fields.hasErrors('tcSecretKey')}?'form-control is-invalid':'form-control'"
                                       aria-describedby="tcSecretKeyHelp" required>
                                <small id="tcSecretKeyHelp" class="form-text text-muted">一般不改动，使用默认值即可。</small>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('tcSecretKey')}" th:errors="*{tcSecretKey}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3 mb-3">
                                <label for="inputTttAppId">三体云 AppId</label>
                                <input type="text" class="form-control" id="inputTttAppId"
                                       th:field="*{tttAppId}"
                                       th:class="${#fields.hasErrors('tttAppId')}?'form-control is-invalid':'form-control'"
                                       aria-describedby="tttAppIdHelp" required>
                                <small id="tttAppIdHelp" class="form-text text-muted">请联系三体云工作人员获取。</small>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('tttAppId')}" th:errors="*{tttAppId}">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="inputTttPushAddress">三体云推流地址</label>
                                <input type="text" class="form-control" id="inputTttPushAddress"
                                       th:field="*{tttPushAddress}"
                                       th:class="${#fields.hasErrors('tttPushAddress')}?'form-control is-invalid':'form-control'"
                                       aria-describedby="tttPushAddressHelp" required>
                                <small id="tttPushAddressHelp" class="form-text text-muted">请联系三体云工作人员获取，随后使用自己的域名进行映射。</small>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('tttPushAddress')}" th:errors="*{tttPushAddress}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3 mb-3">
                                <label for="inputUmengAppKey">友盟 AppKey</label>
                                <input type="text" class="form-control" id="inputUmengAppKey"
                                       th:field="*{umengAppKey}"
                                       th:class="${#fields.hasErrors('umengAppKey')}?'form-control is-invalid':'form-control'"
                                       aria-describedby="umengAppKeyHelp" required>
                                <small id="umengAppKeyHelp" class="form-text text-muted">目前没用上，随意填写。</small>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('umengAppKey')}" th:errors="*{umengAppKey}">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="inputUmengChannel">友盟 Channel</label>
                                <input type="text" class="form-control" id="inputUmengChannel"
                                       th:field="*{umengChannel}"
                                       th:class="${#fields.hasErrors('umengChannel')}?'form-control is-invalid':'form-control'"
                                       aria-describedby="umengChannelHelp" required>
                                <small id="umengChannelHelp" class="form-text text-muted">目前没用上，随意填写。</small>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('umengChannel')}" th:errors="*{umengChannel}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3 mb-3">
                                <label for="inputWxAppId">微信 AppId</label>
                                <input type="text" class="form-control" id="inputWxAppId"
                                       th:field="*{wxAppId}"
                                       th:class="${#fields.hasErrors('wxAppId')}?'form-control is-invalid':'form-control'"
                                       aria-describedby="wxAppIdHelp" required>
                                <small id="wxAppIdHelp" class="form-text text-muted">请通过微信开发平台注册同包名后，填写此项。</small>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('wxAppId')}" th:errors="*{wxAppId}">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="inputWxSecret">微信 Secret</label>
                                <input type="text" class="form-control" id="inputWxSecret"
                                       th:field="*{wxSecret}"
                                       th:class="${#fields.hasErrors('wxSecret')}?'form-control is-invalid':'form-control'"
                                       aria-describedby="wxSecretHelp" required>
                                <small id="wxSecretHelp" class="form-text text-muted">存储桶，每个应用需对应唯一的名称。</small>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('wxSecret')}" th:errors="*{wxSecret}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6 mb-3">
                                <button type="submit" class="btn btn-primary mr-2">更新</button>
                                <a href="javascript:history.back()" th:href="@{/apps}"
                                   class="btn btn-secondary">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <footer th:replace="components/footer::copyRight"></footer>
        </div>
    </div>
</div>
</html>