<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/fragments::commonHead(~{::title},_)">
    <!--/*@thymesVar id="website" type="hellgate.hub.config.WebsiteProperties"*/-->
    <title th:text="|#{error.label} - ${website.title}|"></title>
</head>
<body>
<div>
    <p th:text="#{error.tips}"></p>
    <div th:replace="components/fragments::refresh"></div>
    <!--suppress ThymeleafVariablesResolveInspection -->
    <div th:unless="${#strings.isEmpty(debug)}">
        <h3 style="color: red">[[${data.status}]] - [[${data.error}]]</h3>
        <!--/*@thymesVar id="data" type="hellgate.common.exception.ExceptionLogData"*/-->
        <p th:text="|${data.method} ${data.url}?${data.query}|"></p>
        <p th:text="|${data.remoteAddress} - ${data.sessionId}|"></p>
        <p th:text="|${data.timestamp} - ${data.message}|"></p>
        <p th:unless="${#strings.isEmpty(data.trace)}" th:text="${data.trace}"></p>
    </div>
</div>
</body>
</html>