<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/fragments::commonHead(~{::title},_)">
    <!--/*@thymesVar id="website" type="hellgate.api.config.WebsiteProperties"*/-->
    <title th:text="|#{error-403.label} - ${website.title}|"></title>
</head>
<body>
<div>
    <p th:text="#{error-403.tips}"></p>
    <div th:replace="components/fragments::refresh"></div>
    <!--suppress ThymeleafVariablesResolveInspection -->
    <p th:unless="${#strings.isEmpty(debug)}">[[${trace}]]</p>
</div>
</body>
</html>