.home-title-layout {
    text-align: center;
    margin: 50px auto 0 auto;
}

.home-title-content {
    font-weight: bold;
    color: #FFFF00;
    font-size: 60px;
    text-shadow: #FF7F24 2px 0 0, #FF7F24 0 2px 0, #FF7F24 -2px 0 0, #FF7F24 0 -2px 0;
    -webkit-text-shadow: #FF7F24 2px 0 0, #FF7F24 0 2px 0, #FF7F24 -2px 0 0, #FF7F24 0 -2px 0;
    -moz-text-shadow: #FF7F24 2px 0 0, #FF7F24 0 2px 0, #FF7F24 -2px 0 0, #FF7F24 0 -2px 0;
    filter: Glow(color=#000, strength=30);
}

.home-login {
    width: 120px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 48px;
    color: #FFF;
    background-color: #3C6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: 200px auto 0 auto;
    font-size: 20px;
}

.home-tips-layout {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.home-tips-content {
    text-align: center;
    display: block;
    color: #FFF;
    z-index: 3;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .9);
    -webkit-text-shadow: 1px 1px 5px rgba(0, 0, 0, .9);
}

.home-background {
    left: 0;
    top: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 920px;
    width: 719px;
    z-index: -999999;
    position: fixed;
}

.home-background-image {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    width: 719px;
    height: 1078.5px;
    max-height: none;
    max-width: none;
    z-index: -999999;
    left: 0;
    top: -79.25px;
}

footer.sticky-footer {
    text-align: center;
    display: block;
    color: #FFF;
    margin: 1rem 0;
}

footer.sticky-footer .copyright {
    line-height: 1;
    font-size: 0.8rem;
}
