<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/fragments::commonHead(~{::title},_)">
    <!--/*@thymesVar id="website" type="hellgate.api.config.WebsiteProperties"*/-->
    <title th:text="|#{card.title} - ${website.title}|"></title>
</head>
<body>
<div>
    <p>
        <img src="#" th:src="@{/images/passport_1.png}" alt="pic"><br>
        <span th:unless="${#strings.isEmpty(password)}" th:text="#{card.bookmark-tips}"></span><br>
        <span th:text="|#{card.username}${username}|"></span><br>
        <span th:text="|#{card.uid}${uid}|"></span><br>
        <span th:text="#{card.tips}"></span><br>
        <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <p style="color: red" th:unless="${#strings.isEmpty(message)}" th:text="#{${message}}"></p>
    <div th:replace="components/fragments::sessionException"></div>
    <!--/*@thymesVar id="identityCardForm" type="hellgate.common.model.account.IdentityCardForm"*/-->
    <form method="post" action="#" th:action="@{/identity-card}" th:object="${identityCardForm}">
        <span th:text="#{card.input.number}"></span><br>
        <input type="text" name="number" th:value="*{number}" required autofocus>
        <br>
        <span th:text="#{card.input.fullName}"></span><br>
        <input type="text" name="fullName" th:value="*{fullName}" required>
        <br>
        <input type="submit" th:value="#{card.submit}"/>
    </form>
    <span th:text="${#dates.format(#dates.createNow(), 'MM-dd HH:ss')}"></span><br>
    <a href="javascript:location.reload();" th:text="#{refresh.label}"></a><br>
    </p>
</div>
</body>
</html>
